
@model Inspections_Test.Models.InspectionInfo


<div style="width:1800px;margin:auto;border:2px solid blue;padding:89px;height:290px">
    <div style="" class="col-sm-2">
        <label>Non-Compliance</label>
        @Html.DropDownListFor(model => model.InspectType, ViewBag.List[2] as SelectList, new { @class = "form-control" })
    </div>
    <div class="col-sm-1">
        <label>LTCHA/Reg</label>
        @Html.DropDownList("LTCHAReg", ViewBag._1st as SelectList, new { @class = "form-control", id = "state" })
    </div>
    <div class="col-sm-2">
        <label>Section</label>
        @Html.DropDownList("Section", ViewBag._2nd as SelectList, new { @class = "form-control", id = "section" })
    </div>
    <div class="col-sm-2">
        <label>Subsection</label>
        @Html.DropDownList("Subsection", ViewBag._3rd as SelectList, new { @class = "form-control", id = "subsection" })
    </div>
    <div class="col-sm-2">
        <label>Other option as needed</label>
        @Html.DropDownList("Other Option (as needed)", ViewBag._4th as SelectList, new { @class = "form-control col-sm-1", id = "other" })
    </div>
    <div class="col-sm-1">
        <label>Director Referral</label><br />
        @Html.CheckBoxFor(model => model.NoFindings, new { style = "font-size:large;margin:0 0 0 50px" })
    </div>
    <div style="" class="col-sm-2">
        <label>Cleared by Inspection No.</label>
        @Html.TextBoxFor(model => model.InspectNumber, new { @class = "form-control", placeholder = "Cleared by Inspection No." })
    </div>

    <div style="display:table" class="col-lg-12" >
        <label>Action Plan</label>
        <div>@Html.TextBoxFor(model=>model.InspectNumber, new { @class = "bottomTxt" })</div>
    </div>
</div>

<style>
    .bottomTxt {
        width: 290px;
        margin: auto;
        height: 70px;
        position: relative;
        display: table-cell;
        width: 100%;
        /*    display:flex;*/
    }

    /* #bottomTxt:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
        }*/
</style>